In [5]:
import pandas as pd
import numpy as np

시간 (시/분) 단위에서는 가장 빠른 값은 포함하고, 가장 늦은 값은 포함하지 않음

In [10]:
ts = pd.Series(np.arange(60), index=pd.date_range('2024-02-29', periods=60, freq='min'))
ts

2024-02-29 00:00:00     0
2024-02-29 00:01:00     1
2024-02-29 00:02:00     2
2024-02-29 00:03:00     3
2024-02-29 00:04:00     4
2024-02-29 00:05:00     5
2024-02-29 00:06:00     6
2024-02-29 00:07:00     7
2024-02-29 00:08:00     8
2024-02-29 00:09:00     9
2024-02-29 00:10:00    10
2024-02-29 00:11:00    11
2024-02-29 00:12:00    12
2024-02-29 00:13:00    13
2024-02-29 00:14:00    14
2024-02-29 00:15:00    15
2024-02-29 00:16:00    16
2024-02-29 00:17:00    17
2024-02-29 00:18:00    18
2024-02-29 00:19:00    19
2024-02-29 00:20:00    20
2024-02-29 00:21:00    21
2024-02-29 00:22:00    22
2024-02-29 00:23:00    23
2024-02-29 00:24:00    24
2024-02-29 00:25:00    25
2024-02-29 00:26:00    26
2024-02-29 00:27:00    27
2024-02-29 00:28:00    28
2024-02-29 00:29:00    29
2024-02-29 00:30:00    30
2024-02-29 00:31:00    31
2024-02-29 00:32:00    32
2024-02-29 00:33:00    33
2024-02-29 00:34:00    34
2024-02-29 00:35:00    35
2024-02-29 00:36:00    36
2024-02-29 00:37:00    37
2024-02-29 00:38:00    38
2024-02-29 00:39:00    39
2024-02-29 00:40:00    40
2024-02-29 00:41:00    41
2024-02-29 00:42:00    42
2024-02-29 00:43:00    43
2024-02-29 00:44:00    44
2024-02-29 00:45:00    45
2024-02-29 00:46:00    46
2024-02-29 00:47:00    47
2024-02-29 00:48:00    48
2024-02-29 00:49:00    49
2024-02-29 00:50:00    50
2024-02-29 00:51:00    51
2024-02-29 00:52:00    52
2024-02-29 00:53:00    53
2024-02-29 00:54:00    54
2024-02-29 00:55:00    55
2024-02-29 00:56:00    56
2024-02-29 00:57:00    57
2024-02-29 00:58:00    58
2024-02-29 00:59:00    59
Freq: min, dtype: int32

In [13]:
ts.resample('10min').max()

2024-02-29 00:00:00     9
2024-02-29 00:10:00    19
2024-02-29 00:20:00    29
2024-02-29 00:30:00    39
2024-02-29 00:40:00    49
2024-02-29 00:50:00    59
Freq: 10min, dtype: int32

구간 한계 값을 가장 늦은 값으로 지정하고자 한다면 `close = 'right`를 지정한다

In [16]:
ts.resample('10min', closed='right').max()

2024-02-28 23:50:00     0
2024-02-29 00:00:00    10
2024-02-29 00:10:00    20
2024-02-29 00:20:00    30
2024-02-29 00:30:00    40
2024-02-29 00:40:00    50
2024-02-29 00:50:00    59
Freq: 10min, dtype: int32

`ohlc()`메서드는 구간의 시점, 고점, 저점, 종점의 값을 표현한다

In [18]:
ts.resample('10min').ohlc()

                     open  high  low  close
2024-02-29 00:00:00     0     9    0      9
2024-02-29 00:10:00    10    19   10     19
2024-02-29 00:20:00    20    29   20     29
2024-02-29 00:30:00    30    39   30     39
2024-02-29 00:40:00    40    49   40     49
2024-02-29 00:50:00    50    59   50     59

업-샘플링은 데이터를 추가해야하기 때문에 forward filling 방식과 backward filling 방식을 사용할 수 있다  
forward filling은 이전 데이터를 가져와 사용하는 방법 - `ffill()`  
backward filling은 다음 데이터를 가져와 사용하는 방법 - `bfill()`

In [19]:
ts.resample('30s').ffill()

2024-02-29 00:00:00     0
2024-02-29 00:00:30     0
2024-02-29 00:01:00     1
2024-02-29 00:01:30     1
2024-02-29 00:02:00     2
                       ..
2024-02-29 00:57:00    57
2024-02-29 00:57:30    57
2024-02-29 00:58:00    58
2024-02-29 00:58:30    58
2024-02-29 00:59:00    59
Freq: 30s, Length: 119, dtype: int32

In [20]:
ts.resample('30s').bfill()

2024-02-29 00:00:00     0
2024-02-29 00:00:30     1
2024-02-29 00:01:00     1
2024-02-29 00:01:30     2
2024-02-29 00:02:00     2
                       ..
2024-02-29 00:57:00    57
2024-02-29 00:57:30    58
2024-02-29 00:58:00    58
2024-02-29 00:58:30    59
2024-02-29 00:59:00    59
Freq: 30s, Length: 119, dtype: int32

### `dt`접근자
datetime의 데이터 타입 시리즈는 `dt`접근자를 사용하여 datetime 데이터 타입이 가지는 여러가지 속성 및 메서드를 사용할 수 있다

In [23]:
s = pd.Series(pd.date_range('2024-01-01', periods=10))
s

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
7   2024-01-08
8   2024-01-09
9   2024-01-10
dtype: datetime64[ns]

`year`, `month`, `day`와 같은 속성을 사용할 수 있다

In [24]:
s.dt.day

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [25]:
s.dt.year

0    2024
1    2024
2    2024
3    2024
4    2024
5    2024
6    2024
7    2024
8    2024
9    2024
dtype: int32

`strftime()`메서드를 사용하여 datetime 데이터 타입의 데이터를 문자열 데이터로 변경할 수 있다

In [28]:
s.dt.strftime('%Y.%m.%d, %H:%M:%s')

0    2024-01-01 00:00:00
1    2024-01-02 00:00:00
2    2024-01-03 00:00:00
3    2024-01-04 00:00:00
4    2024-01-05 00:00:00
5    2024-01-06 00:00:00
6    2024-01-07 00:00:00
7    2024-01-08 00:00:00
8    2024-01-09 00:00:00
9    2024-01-10 00:00:00
dtype: object

**파이썬으로 다음 연산을 수행한다.**

다음 명령으로 만들어진 데이터프레임에 대해 월별 value의 합계를 구하라. (힌트: `groupby` 메서드와 `dt` 접근자를 사용하라)
```python
    np.random.seed(0)
    df = pd.DataFrame({
        "date": pd.date_range("2020-12-25", periods=100, freq="D"),
        "value": np.random.randint(100, size=(100,))
    })
```

In [91]:
np.random.seed(0)
df = pd.DataFrame({
    "date": pd.date_range("2020-12-25", periods=100, freq="D"),
    "value": np.random.randint(100, size=(100,))
})
df

         date  value
0  2020-12-25     44
1  2020-12-26     47
2  2020-12-27     64
3  2020-12-28     67
4  2020-12-29     67
..        ...    ...
95 2021-03-30     23
96 2021-03-31     79
97 2021-04-01     13
98 2021-04-02     85
99 2021-04-03     48

[100 rows x 2 columns]

In [92]:
df.date = df.date.dt.month
df

    date  value
0     12     44
1     12     47
2     12     64
3     12     67
4     12     67
..   ...    ...
95     3     23
96     3     79
97     4     13
98     4     85
99     4     48

[100 rows x 2 columns]

In [94]:
dfg = df.groupby(df.date).sum()
dfg

      value
date
1      1811
2       985
3      1500
4       146
12      381